body{
    font-size: 13px;
    /* background-color:#c7c7c2; */
    padding:0;
    font-family: Helvetica, sans-serif;
}

.blogbg{
    background-image: url(images/blogbg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
   /*  width: 100%;
   clear:both; */
}

.topbar{
    position:fixed;
    display: block; 
    top: 0;
    left: 0;
    width:100%;
    height:30px;
    background-color: #f4f4f4;
    z-index: 1;
}

.topbar_content{
    width:1000px;
    height:20px;
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    
}
#backToIndex{
    float:left;
    line-height: 20px;
}
#user{
    float:right;
    line-height: 20px;   
}
#username{
    float:right;
    margin-right:20px;
    line-height: 20px;   
}

a:link, a:visited{
    color: #428bca;
    text-decoration: none;
}
a:hover, a:active{
    color: #f00;
    text-decoration: none;
}

.container{
    margin: 30px auto 0 auto;
    padding: 0;
    width: 1000px;
    min-height:900px;
    _height:900px;
    /* background-color:#ededed; */
    border: 1px solid #000;
    clear:both; 
    overflow: hidden;
   
}

.header, .title, .add-div{
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    /* background-color: #e8f3fd; */
    border-bottom: 1px solid #000;
}
.header{
    height: 80px;
    font-size: 16px;
    font-weight: bold;
}
.title{
    height: 10px;
    font-style: italic;
}
.add-div{
    height: 10px;
}
.add-div span{
    float:right;
    margin-left: 5px;
}

.right{
    margin-left: auto;
    margin-right: auto;
    margin: 6px 0 4px 2px;
    padding: 5px;
}
.left{
    float: left;
    width: 200px;
    margin-left:0;
    margin-top: 10px;
}

.blog_entry{
    margin: 4px auto 10px auto;
    border: 1px solid #000;
    background-color: #fff;
}

.blog_title{
    border-bottom: 1px solid #000;
    background-color: #e0f2ff;
    margin: 0;
    padding: 4px;
    font-weight: bold;
    font-size: 13px;
}

.blog_body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    padding: 6px;
}

.blog_date{
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 8px 0;
    font-size: 10px;
}

.right{
    float:right;
    width: 750px;
    margin-right:10px;
}

.sidebar{
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 180px;
    background-color: #fff;
}

.menu_title{
    /* border-bottom: 1px solid #000;
    background-color: #e8ecdb; */
    background-image: url(images/sidebar_head.png);
    color: #49687F;
    margin: 0;
    padding: 4px;
    height: 10px;
}

.menu_body{
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    padding: 6px;
}

.footer{
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    height: 10px;
    background-color: #e8f3fd;
    border-top: 1px solid #000;
}

.page{
    text-align: center;
    font-size: 12px;
    font-family: verdana;
    width: 100%;
}

.page a{
    border:#aaaadd 1px solid;
    padding: 2px 5px;
    margin:2px;

}
.page .current_page a{
    border: #000099 1px solid;
    background-color: #aaaadd;
    color: #fff;
    font-weight: bold;
    padding: 4px 6px;
    margin: 2px;
}
.page .page_disable{
    border: #eee 1px solid;
    padding: 2px 5px;
    margin:2px;
    color: #ddd;
}
.page form{
    display: inline;
}

.detail_container{
    margin: 30px auto 0 auto;
    padding: 0;
    width: 1000px;
    min-height:400px;
    _height:400px;
}
.detail_head{
    width: 100%;
    padding-top: 25px;
    padding-bottom:30px;
    background: url(images/bg_head.png) left top repeat-x;
    margin-top: 30px;

}
.detail_head_content{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    color: #fff;
    font-family: 'Microsoft Yahei',Simsun;
}

.detail_blog_body{
    width: 1000px;
    min-height: 600px;
    _height:600px;
    margin-left:auto;
    margin-right:auto;
}

.detail_blog_title{
    color: #333;
    font-size: 34px;
    line-height: 50px;
    margin-bottom:30px;
}
.detail_blog_date{
    color: #333;
    font-size: 12px;
    line-height: 26px;
    border-bottom: 1px solid #eee;
}
.detail_blog_description{
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    min-height:100px;
    _height:100px;
    padding-bottom: 10px;
    font-size: 22px;
}
.detail_blog_content{
    margin-top: 20px;
    border-bottom: 1px solid #eee;
    min-height:400px;
    _height:400px;
    padding-bottom: 10px;
    font-size: 20px;
}
.detail_footer{
    width: 100%;
    background-color: #3d4e6e;
}
.detail_footer_content{
    padding: 50px 0 0;
    font-size: 12px;
    color: #5e7296;
    width: 950px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
}


.editor{
    width:1500px;
    margin:0 auto 100px;
    min-height:800px;
    _height:800px;
    text-align: center;

}
.editor_title{
    width: 100%;
    height: 80px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    font-size: 58px;
    line-height: 80px; /* 行内文字垂直居中：line-height设置成行的高度 */
    color: #c7c7c2;
}
.editor_content{
    width: 100%;
    min-height: 400px;
    _height: 400px;
    border: 1px solid #eee;
    outline: 0;  /* Firefox在可编辑模式下的div获取焦点的时的虚框问题*/
   /*  word-wrap: break-word;
   overflow-x: hidden;
   overflow-y: auto;
   _overflow-y: visible; */
}

